* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


a {
  text-decoration: none;
}

.nav {
    padding-left: 5px;
    padding-right: 70px;
    height: 50px;
    width: 100%;
    background-color: #071c2e;
    position: relative;
  }

.logo {
    width: 40%;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: #071c2e;
  }
  
  .nav > #nav-check {
    display: none;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.chemin {
    height: 20px;
    margin: 15px 10px 0px 15px;
    font-size: 12px;
}

.chemin a {
  text-decoration: none;
}

.all {
    max-width: 65%;
    border-style:solid;
    border-width: 1px;
    border-color: #ddd;
    margin: 10px;
    padding: 10px;
}



h1 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;

}

h3 {
    font-weight: lighter;
    font-size: 16px;
    margin: 0px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 10px;  
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:transparent ;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.txtpetit {
    font-size: 12px;
}




.imgInfo {
    margin-top: 10px;
    padding: 20px;
    border-style:solid ;
    border-width: 1px;
    border-color: #ddd;
    order: 2;
}


    

.image {
    border-style:solid;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 5px;
}


.imgtim {
    width: 100%;
}

.image p {
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.centre {
    text-align: center;
}

.bouton {
    display: flex;
    justify-content: center;

    
}

.bouton button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 15px;
    background-color:transparent ;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.textinfo {
    font-size: 14px;
}




.block {
    display: flex;
    flex-wrap: nowrap;
}







  /* Ipad Version */

  @media (max-width:820px) and (min-width:600px) {
    * {
      box-sizing: border-box;
    }
    
    body {
      margin: 0px;
    }
    
    .nav {
      padding-left: 35px;
      padding-right: 35px;
      height: 50px;
      width: 100%;
      background-color: #071c2e;
      position: relative;
    }
    
    .nav > .nav-header {
      display: inline;
    }
    
    .nav > .nav-header > .nav-title {
      display: inline-block;
      font-size: 22px;
      color: #fff;
      padding: 10px 10px 10px 10px;
    }
    
    .nav > .nav-btn {
      display: none;
    }
    
    .nav > .nav-links {
      display: inline;
      float: right;
      font-size: 18px;
    }
    
    .nav > .nav-links > a {
      display: inline-block;
      padding: 13px 10px 13px 10px;
      text-decoration: none;
      color: #efefef;
    }
    
    .nav > .nav-links > a:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    
    .nav > #nav-check {
      display: none;
    }
    

    .image {
        width: 60%;
        height: auto;
    }

  }









  /* Mobil version */

  @media (max-width:600px) {
    .container {
        display: flex;
    }

    .all {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .block {
        display: flex;
        flex-wrap: wrap;
        max-width: 80%;
    }

    .textarticle {
        order: 2;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #071c2e;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }









